# Python virtual environments
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: local uploads / temp
uploads/
tmp/
